parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Feed\:\:\$item\.$#'
			identifier: property.notFound
			count: 1
			path: app/Commands/LwnAlert.php

		-
			message: '#^Offset ''id'' does not exist on array\{feed_source\: string, title\: string, link\: string, description\: string, guid\: string, guid_is_permalink\: string, content\: string, author\: string, \.\.\.\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: app/Commands/LwnAlert.php

		-
			message: '#^Cannot access offset ''force_reset'' on array\|bool\|float\|int\|object\|string\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Config/Auth.php

		-
			message: '#^Cannot access offset ''group_denied'' on array\|bool\|float\|int\|object\|string\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Config/Auth.php

		-
			message: '#^Cannot access offset ''login'' on array\|bool\|float\|int\|object\|string\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Config/Auth.php

		-
			message: '#^Cannot access offset ''logout'' on array\|bool\|float\|int\|object\|string\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Config/Auth.php

		-
			message: '#^Cannot access offset ''permission_denied'' on array\|bool\|float\|int\|object\|string\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Config/Auth.php

		-
			message: '#^Cannot access offset ''register'' on array\|bool\|float\|int\|object\|string\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Config/Auth.php

		-
			message: '#^Property Config\\Auth\:\:\$personalFields type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Config/Auth.php

		-
			message: '#^Property Config\\Auth\:\:\$redirects type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Config/Auth.php

		-
			message: '#^Property Config\\Auth\:\:\$validFields type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Config/Auth.php

		-
			message: '#^Property Config\\Auth\:\:\$views type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Config/Auth.php

		-
			message: '#^Property Config\\AuthGroups\:\:\$matrix type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Config/AuthGroups.php

		-
			message: '#^Property Config\\AuthGroups\:\:\$permissions type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Config/AuthGroups.php

		-
			message: '#^Property Config\\AuthToken\:\:\$authenticatorHeader type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Config/AuthToken.php

		-
			message: '#^Call to method run\(\) of internal class CodeIgniter\\HotReloader\\HotReloader from outside its root namespace CodeIgniter\.$#'
			identifier: method.internalClass
			count: 1
			path: app/Config/Events.php

		-
			message: '#^Instantiation of internal class CodeIgniter\\HotReloader\\HotReloader\.$#'
			identifier: new.internalClass
			count: 1
			path: app/Config/Events.php

		-
			message: '#^Call to unknown service method ''auth''\.$#'
			identifier: codeigniter.unknownServiceMethod
			count: 1
			path: app/Config/Routes.php

		-
			message: '#^Cannot call method routes\(\) on null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Config/Routes.php

		-
			message: '#^Variable \$routes might not be defined\.$#'
			identifier: variable.undefined
			count: 18
			path: app/Config/Routes.php

		-
			message: '#^Method App\\Controllers\\ToolGeo\:\:handleMapRoute\(\) should return CodeIgniter\\HTTP\\DownloadResponse\|string but returns CodeIgniter\\HTTP\\DownloadResponse\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Controllers/ToolGeo.php

		-
			message: '#^Call to an undefined method CodeIgniter\\HTTP\\CLIRequest\|CodeIgniter\\HTTP\\IncomingRequest\:\:getFile\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Controllers/ToolImageCompressor.php

		-
			message: '#^Parameter \#1 \$data of method CodeIgniter\\Controller\:\:validateData\(\) expects array, array\|bool\|float\|int\|object\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Controllers/ToolImageCompressor.php

		-
			message: '#^Call to an undefined method CodeIgniter\\HTTP\\CLIRequest\|CodeIgniter\\HTTP\\IncomingRequest\:\:getFile\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Controllers/ToolImageConvertor.php

		-
			message: '#^Cannot access offset ''to_format'' on array\|bool\|float\|int\|object\|string\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Controllers/ToolImageConvertor.php

		-
			message: '#^Parameter \#1 \$data of method CodeIgniter\\Controller\:\:validateData\(\) expects array, array\|bool\|float\|int\|object\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Controllers/ToolImageConvertor.php

		-
			message: '#^Parameter \$to of method App\\Controllers\\ToolImageConvertor\:\:loadMainView\(\) expects string, array\|bool\|float\|int\|object\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Controllers/ToolImageConvertor.php

		-
			message: '#^Call to an undefined method CodeIgniter\\HTTP\\CLIRequest\|CodeIgniter\\HTTP\\IncomingRequest\:\:getFile\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Controllers/ToolPdfConvertor.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$addLogoSpace\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$circleRadius\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$drawCircularModules\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$eccLevel\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$imageTransparent\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$keepAsSquare\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$logoSpaceHeight\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$logoSpaceWidth\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$outputBase64\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$outputInterface\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Access to protected property chillerlan\\QRCode\\QROptions\:\:\$version\.$#'
			identifier: property.protected
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Class constant name in dynamic fetch can only be a string, bool\|int\|string given\.$#'
			identifier: classConstant.nameType
			count: 1
			path: app/Data/AppQrCode.php

		-
			message: '#^Binary operation "\+" between 0\|string and int results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Data/StatsName.php

		-
			message: '#^Call to internal method CodeIgniter\\Throttle\\Throttler\:\:check\(\) from outside its root namespace CodeIgniter\.$#'
			identifier: method.internal
			count: 2
			path: app/Filters/Throttle.php

		-
			message: '#^Function _getKeyVal\(\) should return array\<string\>\|bool\|int\|string\|null but returns array\|bool\|float\|int\|object\|string\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Helpers/app_helper.php

		-
			message: '#^Parameter \#1 \$array of function array_unique expects array, array\|bool\|float\|int\|object\|string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Helpers/app_helper.php

		-
			message: '#^Parameter \#2 \$timestamp of function date expects int\|null, int\|false given\.$#'
			identifier: argument.type
			count: 1
			path: app/Helpers/app_helper.php

		-
			message: '#^Parameter \#1 \(array\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 3
			path: app/Views/Shield/Email/email_2fa_email.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 6
			path: app/Views/Shield/Email/email_2fa_email.php

		-
			message: '#^Variable \$code might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/email_2fa_email.php

		-
			message: '#^Variable \$date might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/email_2fa_email.php

		-
			message: '#^Variable \$ipAddress might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/email_2fa_email.php

		-
			message: '#^Variable \$userAgent might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/email_2fa_email.php

		-
			message: '#^Parameter \#1 \(array\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 3
			path: app/Views/Shield/Email/email_activate_email.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 6
			path: app/Views/Shield/Email/email_activate_email.php

		-
			message: '#^Variable \$code might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/email_activate_email.php

		-
			message: '#^Variable \$date might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/email_activate_email.php

		-
			message: '#^Variable \$ipAddress might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/email_activate_email.php

		-
			message: '#^Variable \$userAgent might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/email_activate_email.php

		-
			message: '#^Parameter \#1 \(array\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 3
			path: app/Views/Shield/Email/magic_link_email.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 6
			path: app/Views/Shield/Email/magic_link_email.php

		-
			message: '#^Variable \$date might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/magic_link_email.php

		-
			message: '#^Variable \$ipAddress might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/magic_link_email.php

		-
			message: '#^Variable \$token might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/magic_link_email.php

		-
			message: '#^Variable \$userAgent might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/Shield/Email/magic_link_email.php

		-
			message: '#^Parameter \#1 \(array\|string\|null\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/email_2fa_show.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 5
			path: app/Views/Shield/email_2fa_show.php

		-
			message: '#^Parameter \#1 \(non\-empty\-array\|float\|int\<min, \-1\>\|int\<1, max\>\|object\|non\-falsy\-string\|true\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/email_2fa_show.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: app/Views/Shield/email_2fa_show.php

		-
			message: '#^Parameter \#1 \(array\|bool\|float\|int\|object\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/email_2fa_verify.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 4
			path: app/Views/Shield/email_2fa_verify.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: app/Views/Shield/email_2fa_verify.php

		-
			message: '#^Parameter \#1 \(array\|string\|null\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/email_activate_show.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 5
			path: app/Views/Shield/email_activate_show.php

		-
			message: '#^Parameter \#1 \(non\-empty\-array\|float\|int\<min, \-1\>\|int\<1, max\>\|object\|non\-falsy\-string\|true\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/email_activate_show.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: app/Views/Shield/email_activate_show.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: app/Views/Shield/layout.php

		-
			message: '#^Cannot access offset ''allowRemembering'' on array\|bool\|float\|int\|object\|string\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Views/Shield/login.php

		-
			message: '#^Parameter \#1 \(array\|bool\|float\|int\|object\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 2
			path: app/Views/Shield/login.php

		-
			message: '#^Parameter \#1 \(array\|string\|null\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/login.php

		-
			message: '#^Parameter \#1 \(bool\|float\|int\|object\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/login.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 12
			path: app/Views/Shield/login.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: app/Views/Shield/login.php

		-
			message: '#^Parameter \#1 \(array\|bool\|float\|int\|object\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/magic_link_form.php

		-
			message: '#^Parameter \#1 \(array\|string\|null\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/magic_link_form.php

		-
			message: '#^Parameter \#1 \(bool\|float\|int\|object\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/magic_link_form.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 6
			path: app/Views/Shield/magic_link_form.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: app/Views/Shield/magic_link_form.php

		-
			message: '#^Binary operation "/" between array\|bool\|float\|int\|object\|string\|null and 60 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Views/Shield/magic_link_message.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 4
			path: app/Views/Shield/magic_link_message.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: app/Views/Shield/magic_link_message.php

		-
			message: '#^Parameter \#1 \(array\|bool\|float\|int\|object\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/register.php

		-
			message: '#^Parameter \#1 \(array\|string\|null\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 2
			path: app/Views/Shield/register.php

		-
			message: '#^Parameter \#1 \(bool\|float\|int\|object\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: app/Views/Shield/register.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 13
			path: app/Views/Shield/register.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: app/Views/Shield/register.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/default.php

		-
			message: '#^Variable \$code might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/errors/cli/error_404.php

		-
			message: '#^Variable \$message might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/errors/cli/error_404.php

		-
			message: '#^Parameter \#1 \$string of function str_pad expects string, \(float\|int\) given\.$#'
			identifier: argument.type
			count: 1
			path: app/Views/errors/cli/error_exception.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: app/Views/errors/cli/error_exception.php

		-
			message: '#^Variable \$exception might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: app/Views/errors/cli/error_exception.php

		-
			message: '#^Variable \$message might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/errors/cli/error_exception.php

		-
			message: '#^Parameter \#1 \$string of function nl2br expects string, array\|string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Views/errors/html/error_400.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 2
			path: app/Views/errors/html/error_400.php

		-
			message: '#^Variable \$message might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/errors/html/error_400.php

		-
			message: '#^Parameter \#1 \$string of function nl2br expects string, array\|string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Views/errors/html/error_404.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 2
			path: app/Views/errors/html/error_404.php

		-
			message: '#^Variable \$message might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/errors/html/error_404.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and array\|string results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Call to an undefined method CodeIgniter\\HTTP\\CLIRequest\|CodeIgniter\\HTTP\\IncomingRequest\:\:getUserAgent\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Call to an undefined method CodeIgniter\\HTTP\\CLIRequest\|CodeIgniter\\HTTP\\IncomingRequest\:\:isAJAX\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Call to an undefined method CodeIgniter\\HTTP\\CLIRequest\|CodeIgniter\\HTTP\\IncomingRequest\:\:isSecure\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Calling static\:\:describeMemory\(\) outside of class scope\.$#'
			identifier: outOfClass.static
			count: 2
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Calling static\:\:highlightFile\(\) outside of class scope\.$#'
			identifier: outOfClass.static
			count: 2
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Parameter \#1 \$code of method CodeIgniter\\HTTP\\ResponseInterface\:\:setStatusCode\(\) expects int, bool\|int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Parameter \#1 \$string of function nl2br expects string, array\|string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Parameter \#1 \(array\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 41
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Parameter \#2 \(array\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 2
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Parameter \#3 \$subject of function preg_replace expects array\<float\|int\|string\>\|string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Variable \$exception might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Variable \$file might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Variable \$line might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Variable \$title might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Variable \$trace might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Views/errors/html/error_exception.php

		-
			message: '#^Parameter \#1 \(list\<string\>\|string\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 3
			path: app/Views/errors/html/production.php

		-
			message: '#^Parameter \#3 \$subject of function preg_replace expects array\<float\|int\|string\>\|string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: app/Views/errors/html/production.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/home.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/templates/section_template.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/tools/convertor.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/tools/image_compressor.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/tools/lwn.php

		-
			message: '#^Function renderBuildMyRouteForm\(\) has parameter \$default with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Views/tools/map_route.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/tools/map_route.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/tools/ocr.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/tools/pdf_compress.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/tools/pdf_to_image.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Views/tools/qrcodes.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with list\<stdClass\> will always evaluate to false\.$#'
			identifier: method.impossibleType
			count: 1
			path: tests/database/ExampleDatabaseTest.php

		-
			message: '#^Cannot call method getResult\(\) on CodeIgniter\\Database\\ResultInterface\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/database/ExampleDatabaseTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with bool will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/unit/HealthTest.php

		-
			message: '#^Parameter \#2 \$array of function preg_grep expects array, list\<string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/unit/HealthTest.php
