includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ./phpstan-baseline.neon
parameters:
    level: 8
    ignoreErrors:
        - '#Variable \$this might not be defined.#'
        - '#Constant ENVIRONMENT not found.#'
    paths:
        - app
        - tests
    excludePaths:
        - ./app/Views/errors/*
        - ./app/Views/Shield/*
    scanDirectories:
        - ./vendor/codeigniter4/
        - ./vendor/codeigniter/
