includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ./phpstan-baseline.neon
parameters:
  level: 8
  paths:
    - app
    - tests
  scanDirectories:
    - ./vendor/codeigniter4/
    - ./vendor/codeigniter/
