:root {
  --max-width: 700px;
  --bg-color-1: #f5efff;
}

* {
  transition:
    background-color 300ms ease,
    color 300ms ease;
}

*:focus {
  background-color: rgba(221, 72, 20, 0.2);
  outline: none;
}

html,
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  padding: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: var(--max-width);
}

header {
  background-color: rgba(247, 248, 249, 1);
  padding: 0.4rem 0 0;
}

.menu {
  padding: 0.4rem 2rem;
}
header ul {
  border-bottom: 1px solid rgba(242, 242, 242, 1);
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: right;
}
header li {
  display: inline-block;
}
header li a {
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  height: 44px;
  text-decoration: none;
}
header li.menu-item a {
  border-radius: 5px;
  margin: 5px 0;
  height: 38px;
  line-height: 36px;
  padding: 0.4rem 0.65rem;
  text-align: center;
}
header li.menu-item a:hover,
header li.menu-item a:focus {
  background-color: rgba(221, 72, 20, 0.2);
  color: rgba(221, 72, 20, 1);
}
header .logo {
  float: left;
  height: 44px;
  padding: 0.4rem 0.5rem;
}
header .menu-toggle {
  display: none;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}
header .menu-toggle button {
  background-color: rgba(221, 72, 20, 0.6);
  border: none;
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font: inherit;
  font-size: 1.3rem;
  height: 36px;
  padding: 0;
  margin: 11px 0;
  overflow: visible;
  width: 40px;
}
header .menu-toggle button:hover,
header .menu-toggle button:focus {
  background-color: rgba(221, 72, 20, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
header .heroe {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1rem 1.75rem 1.75rem 1.75rem;
}
header .heroe h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
header .heroe h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

section {
  padding: 1rem;
}

section h1 h2 h3 h4 h5 h6 {
  margin-bottom: 2rem;
}

footer {
  margin-top: auto;
  background-color: white;
  text-align: center;
  width: var(--max-width);
}

footer .copyrights {
  color: rgba(0, 0, 200, 1);
  padding: 0.25rem 1.75rem;
}

.sample_code {
  font-family: monospace;
  font-size: 120%;
}

.btn-form-submit {
  margin-top: 1ex;
  margin-left: auto;
  display: flex;
}

.btn-action {
  width: 100%;
  white-space: normal !important;
}

.section-title {
  font-family: serif;
  margin-top: 2ex;
  margin-left: 5ex;
  color: Brown;
}

.data-integrity-warning {
    font-size: 120%;
    color: Blue;
    padding: 1ex;
}

.trainer-session-state {
  display: inline-block;
  text-align: center;
  margin: auto;
  color: Blue;
  font-family: monospace;
  background-color: rgba(255, 219, 124, 1); /* mustard. */
  border-radius: 5px;
  padding: 0 3px 0 3px;
}

.info-columns {
  background-color: var(--bg-color-1);
  font-family: monospace;
}

.info-sticker {
  background-color: var(--bg-color-1);
  border: 1px dotted lightblue;
  border-radius: 10px;
  margin-top: 1px;
}

.existing-info {
  background-color: var(--bg-color-1);
  border: 1px dotted lightblue;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 5px;
}

.form-error {
  color: Red;
  margin: 5px;
  padding-top: 5px;
  border-radius: 20px;
}

.form-section {
  margin-top: 5px;
  margin-left: 10px;
  padding: 3px;
  background-color: Ivory;
  border: 1px dashed lightblue;
  border-radius: 20px;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}
