<p>Hi,</p>

<p>A LWN article is no longer behind paywall.</p>

<table>
    <tbody>
        <tr>
            <td>Title</td>
            <td>{{ title | raw }} </td>
        </tr>
        <tr>
            <td>Link</td>
            <td><a href="{{ link }}">{{ link }}</a> </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ description | raw }} </td>
        </tr>
    </tbody>
</table>
